.recipe-list {
  border-right: 1px solid black;
  min-height: 100vh;
  width: 50%;
}

.recipe-list__add-recipe-btn-container {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

@media (max-width: 1000px) {
  .recipe-list {
    font-size: 20px;
  }
  .recipe-edit__ingredient-grid .btn--danger {
    font-size: 18px;
    width: 50px;
  }
}

@media (max-width: 600px) {
  .recipe-list {
    font-size: 16px;
  }
  .recipe-edit__ingredient-grid .btn--danger {
    font-size: 16px;
    width: 50px;
  }
}
